<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Vault</title>
    <link rel="stylesheet" href="/styles/editMovie.css">
</head>
<body>
    <header>
        <h1><a href="/">🎬 Film Vault</a></h1>
        <p>Edit your movie details</p>
      </header>
      <main>

        <section class="back-button-section">
            <a href="/" class="button button-back">Back</a>
        </section>

        <section class="movie-edit">
            <h2>Edit Movie</h2>
            <form action="/edit-movie" method="POST">
              <!-- Include the movie ID in a hidden input -->
              <input type="hidden" name="movielogID" value="<%= movie.movielogID %>">  

              <div class="form">
              <!-- Fields are pre-populared so user can see what to edit -->
              <input type="text" name="title" placeholder="Movie Title" value="<%= movie.title %>" required>
              <input type="text" name="director" placeholder="Director" value="<%= movie.director %>" required>
              <!-- conditional logic to mark option as selected if it matches current movie genre-->
              <select name="genre">
                <option value="Action" <%= movie.genre === 'action' ? 'selected' : '' %>>Action</option>
                <option value="Adventure" <%= movie.genre === 'adventure' ? 'selected' : '' %>>Adventure</option>
                <option value="Animation" <%= movie.genre === 'animation' ? 'selected' : '' %>>Animation</option>
                <option value="Comedy" <%= movie.genre === 'comedy' ? 'selected' : '' %>>Comedy</option>
                <option value="Drama" <%= movie.genre === 'drama' ? 'selected' : '' %>>Drama</option>
                <option value="Fantasy" <%= movie.genre === 'fantasy' ? 'selected' : '' %>>Fantasy</option>
                <option value="Horror" <%= movie.genre === 'horror' ? 'selected' : '' %>>Horror</option>
                <option value="Romance" <%= movie.genre === 'romance' ? 'selected' : '' %>>Romance</option>
                <option value="Science-Fiction" <%= movie.genre === 'science-fiction' ? 'selected' : '' %>>Science Fiction</option>
                <option value="Thriller" <%= movie.genre === 'thriller' ? 'selected' : '' %>>Thriller</option>
              </select>
              <input type="number" name="year" placeholder="Year Released" value="<%= movie.year %>" required>
              </div>

              <div class="form">
              <input type="number" placeholder="Rating /5 stars" name="rating" id="rating" min="0" max="5" value="<%= movie.rating %>"required>
              </div>

              <div class="form">
              <textarea name="comments" placeholder="Add Comments"><%= movie.comments %></textarea>
              </div>

              <div class="form">
              <button type="submit" class="button button-edit-submit">Update Movie</button>
              </div>
            </form>
          </section>
      </main>
    
</body>
</html>