<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmVault</title>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/shared.css">
  </head>
<body>
    <header>
        <h1><a href="/">🎬 FilmVault</a></h1>
        <p>Manage your favorite movies in one place</p>
        <% if (user && user.username) { %>
          <p>Welcome, <%= user.username %>!</p>
          <a href="/logout" class = "button-nav">Logout</a>
        <% } else { %>
          <a href="/login" class="button-nav">Login</a>
          <a href="/register" class="button-nav">Register</a>
        <% } %>
    </header>

    <% 
      const groupedMovies = {};

      movies.forEach(movie => {
        if (!groupedMovies[movie.genre]) {
          groupedMovies[movie.genre] = [];
        }
        groupedMovies[movie.genre].push(movie);
      });
    %>

    <!-- Search -->
    <main>
        <section class="search-section">
            <form action="/search" method="GET">
                <input type="text" name="search" placeholder="Search movies by title..." value="<%= search %>" />
                <button type="submit" class="button button-search">Search</button>
                <% if (search && search.trim()) { %>
                    <a href="/" class="button button-clear">Clear Search</a>
                <% } %>
            </form>
        </section>

        <section class="add-movie-section">
            <a href="/addMovie"><button>Add Movie</button></a>
        </section>

        <section class="movie-list">
          <h1><%= (user && user.username) ? "Your Movies" : "FilmVault Collection" %></h1>
          
          <% if (movies.length === 0) { %>
            <p class="no-movies-msg">No Movies Found.</p>
            <% } else { %>

              <!-- Shows genre for each movie -->
            <% for (let genre in groupedMovies) { %>
              <div class="genre-section">
                <h2>
                  <%= genre %>
                </h2>
                <% groupedMovies[genre].forEach(movie => { %>
                  <div class="movie-entry">
                    <h1><%= movie.title %> - <%= movie.year %></h1>
                    <h3><%= movie.rating %>/5 ☆☆☆☆☆</h3>
                    <h4><%= movie.director %></h4>
                    <hr>
                    <p><%= movie.comments %></p>
                    <% if (user && user.username) { %>
                    <a href="/edit/<%= movie.movielogID %>" class ="button button-edit">Edit</a>
                    <% } %>
                  </div>
                <% }) %>
              </div>
            <% } %>

          <% } %>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
