<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Film Vault</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <header>
        <h1><a href="/">🎬 Film Vault</a></h1>
        <p>Manage your favorite movies in one place</p>
    </header>

    <% 

      const groupedMovies = {};

      movies.forEach(movie => {
        if (!groupedMovies[movie.genre]) {
          groupedMovies[movie.genre] = [];
        }
        groupedMovies[movie.genre].push(movie);
      });
    %>

    <!-- Search -->
    <main>
        <section class="search-section">
            <form action="/search" method="GET">
                <input type="text" name="search" placeholder="Search movies..." value="<%= search %>" />
                <button type="submit" class="button button-search">Search</button>
                <% if (search && search.trim()) { %>
                    <a href="/" class="button button-clear">Clear Search</a>
                <% } %>
            </form>
        </section>

        <section class="add-movie-section">
            <a href="/addMovie"><button>Add Movie</button></a>
        </section>

        <section class="movie-list">
            <h1>Your Movies</h1>

            <!-- Shows genre for each movie -->
            <% for (let genre in groupedMovies) { %>
              <div class="genre-section">
                <h2>
                  <img src='img/<%=genre%>.png' width="45px" height="45px" alt="genre icon">
                  <%= genre %>
                </h2>
                
                <% groupedMovies[genre].forEach(movie => { %>
                  <div class="movie-entry">
                    <h3><%= movie.title %> - <%= movie.year %></h3>
                    <h4><%= movie.director %></h4>
                    <hr>
                    <p>Comments:<br><%= movie.comments %></p>
                    <a href="/edit/<%= movie.movielogID %>" class ="button button-edit">Edit</a>
                  </div>
                <% }) %>
              </div>
            <% } %>
        </section>
    </main>


    <footer>
    </footer>
</body>
</html>
